HTTPSPORT=443
API_AUTH=API_AUTH
SESSIONSECRET=SESSIONSECRET
APPLICATION_URL=https://saikiserver.hopto.org
GRAPHAPI_TENANTID=GRAPHAPI_TENANTID
GRAPHAPI_APPID=GRAPHAPI_APPID
GRAPHAPI_SECRET=GRAPHAPI_SECRET