@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap');



:root {
    --one-color:#2B6E8F;
    --two-color: #E6844F;
    --op-color: #33808E;
    --primary-color: #090C24;
    --secondary-color: #818386;
    --bg-color: #FCFDFD;
    --bg2-color: #e5e5e5;
    --button2-color: #DC4C5D;
    --button-color: #379F70;
    --h1-color: #191824;
  }
  
  [data-theme="dark"] {
    --one-color:#2B6E8F;
    --two-color: #E6844F;
    --op-color: #33808E;
    --primary-color: #FCFDFD;
    --secondary-color: #818386;
    --bg-color: #090C24;
    --bg2-color: #e5e5e5;
    --button2-color: #DC4C5D;
    --button-color: #36B558;
    --h1-color: #FCFDFD;
  }

body {
    font-family:'Roboto Mono', monospace;
    font-weight: 400;
    background-color: var(--bg2-color);
    
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
}

::-webkit-scrollbar-thumb{
    background-color: #DC4C5D;
    border-radius: 50px;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
} 

::-webkit-scrollbar-track{
    background: var(--bg2-color);
}

::selection{
    color: var(--bg-color);
    background-color: var(--button2-color);
}

