@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Mono:wght@200;300&display=swap');
:root {
    --primary-color: #379F70;
}

body {
    font-family: 12 'Roboto Mono', monospace;
    font-weight: 400;
}

::-webkit-scrollbar-thumb{
    background-color: #DC4C5D;
    border: 5px solid transparent;
    border-radius: 50px;
    background-clip: content-box;
}

::-webkit-scrollbar{
    width: 15px;
} 

