/* Libs */
@import url('reset.css');
@import url('global.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');

/* Tags */

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    background: var(--one-color);
    height: 10vh;
    width: 100%;
    position: block;
    top: 0;
    z-index: 1;
}

main {
    background-size: cover;
    height: 90vh;
}

footer {
    background: var(--op-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

a {
    text-decoration: none;
}


/* Underline From Left */
a.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

a.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--button-color);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a.hvr-underline-from-left:hover:before,
a.hvr-underline-from-left:focus:before,
a.hvr-underline-from-left:active:before {
    right: 0;
}


/* Button New sign */

a#New-Cont {
    position: relative;
    text-decoration: none;
    text-align: center;
    letter-spacing: 4px;
    padding-left: 5px;
    font-weight: 400;
}

a#New-Cont::before,
a#New-Cont::after,
span::before,
span::after {
    content: ' ';
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent;
    transition: 1s;
}

a#New-Cont::before {
    top: -2px;
    left: -2px;
    border-top: 2px solid var(--button2-color);
    border-left: 2px solid var(--button2-color);
}

a#New-Cont::after {
    top: -2px;
    right: -2px;
    border-top: 2px solid #DC4C5D;
    border-right: 2px solid #DC4C5D;
}

span::before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid #DC4C5D;
    border-left: 2px solid #DC4C5D;
}

span::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid #DC4C5Ded;
    border-right: 2px solid #DC4C5D;
}


a#New-Cont:hover::before,
a#New-Cont:hover::after,
a#New-Cont:hover span::before,
a#New-Cont:hover span::after {
    width: calc(180px / 2);
    height: calc(50px / 2);
}

p,
h1 {
    color: var(--h1-color);
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    /* font-size: clamp(1em, 1em + 1vw, 1.5em); */
}

h1 {
    font-size: 20px;
    font-weight: 900;
}

/* @use postcss-preset-env {
    stage: 0;
    autoprefixer: { grid : true;}

    browsers: [
        "last 1 Chrome versions",
        "last 1 Firefox versions",
        "last 1 Safari versions",
        "last 1 Edge versions"
    ]
} */

/* Div with Id */
#tutorial {
    display: flex;
    justify-content: flex-start;
    background-color: var(--bg2-color);
}

#introducao {
    display: flex;
    justify-content: center;
    align-items: center;
}

#good {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#about-us {
    display: flex;
    justify-content: center;
    background-color: var(--bg2-color);
}


/* Classes */
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none; 
}


.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--bg2-color);
    margin: 8px;
    transition: 0.3s;
    z-index: 2;
}


/* Utils */
@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--one-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Slide Show */



/* Slideshow container */
.slides-images {
    max-width: 1000px;
    position: fixed;
    margin: auto;
    background-image: contain;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

img {
    background-image: contain;

}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
} 

@keyframes fade {
    from {
        opacity: 0.7
    }

    to {
        opacity: 1
    }
}

/* Fade Reveal Section */

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

section:nth-child(2n) {
    background-color: var(--bg-color);
}

.container {
    padding: 48px 96px;
}

/* .container :is(h2, p) {
    color: #ffffff;
} */

.container h2 {
    font-size: 36px;
}

.reveal {
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* Loader */
/* Background Linear Gradient */
.css-selector {
    background: linear-gradient(270deg, #2b6e8f, #dc4c5d);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
