/* Libs */
@import url('reset.css');
@import url('global.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');

/* Tags */

html{
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    background: #33808E;
    height: 10vh;
    width: 100%;
    position: block;
    top: 0;
    z-index: 1;
}

main {
    background-color: var(--primary-color);
    background-size: cover;
    height: 90vh; 
    
}

footer{
    background-color: #33808E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

/* a:hover {
    opacity: 0.7;
} */
/* Underline From Left */
a.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  a.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #379F70;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  a.hvr-underline-from-left:hover:before, a.hvr-underline-from-left:focus:before, a.hvr-underline-from-left:active:before {
    right: 0;
  }
  



a#New-Cont {
    position: relative;
	/* transform: translate(-50%, -50%); */
    text-decoration: none;
	text-align: center;
	letter-spacing: 4px;
	padding-left: 5px;
    font-weight: 300;
}

a#New-Cont::before,
a#New-Cont::after,
span::before,
span::after {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: transparent;
	transition: 1s;
}

a#New-Cont::before {
	top: -2px;
	left: -2px;
	border-top: 2px solid #DC4C5D;
	border-left: 2px solid #DC4C5D;
}
a#New-Cont::after {
	top: -2px;
	right: -2px;
	border-top: 2px solid #DC4C5D;
	border-right: 2px solid #DC4C5D;
}

span::before {
	bottom: -2px;
	left: -2px;
	border-bottom: 2px solid #DC4C5D;
	border-left: 2px solid #DC4C5D;
}
span::after {
	bottom: -2px;
	right: -2px;
	border-bottom: 2px solid #DC4C5Ded;
	border-right: 2px solid #DC4C5D;
}

span{
    font-weight: 100;
    font-style: oblique;
}

a#New-Cont:hover::before,
a#New-Cont:hover::after,
a#New-Cont:hover span::before,
a#New-Cont:hover span::after  {
	width: calc( 180px / 2);
	height: calc( 50px / 2);
}

p, h1 {
  color: #191824;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: center;
}

h1{
    font-size: 20px;
    font-weight: 900;
}
/* Animation of typping */
h2{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    box-shadow: .6em 0 0 #DC4C5D ;
    font-size: 5vh;
    margin: 5px 6px;
    width: 23ch;
    overflow: hidden;
    white-space: nowrap;
    animation: caret .5s step-end infinite alternate, type 5s steps(23,end)
}

@keyframes type{
    0% {
        width: 0;
    }
}

@keyframes caret {
    50% {
        box-shadow: .6em 0 0 transparent;
    }
}

/* @use postcss-preset-env {
    stage: 0;
    autoprefixer: { grid : true;}

    browsers: [
        "last 1 Chrome versions",
        "last 1 Firefox versions",
        "last 1 Safari versions",
        "last 1 Edge versions"
    ]
} */

/* Div with Id */
#tutorial{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #e5e5e5;
}

#introducao{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#good{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

#about-us{
    display: flex;
    justify-content: left;
    align-items: baseline;
    background-color: #e5e5e5;
}


/* Classes */
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #f2f2f2;
    margin: 8px;
    transition: 0.3s;
    z-index: 2;
}


/* Utils */
@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #33808E;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Slide Show */
/* * {box-sizing:border-box} */

/* Slideshow container */
.slides-images {
  max-width: 1000px;
  position: fixed;
  margin: auto;
  background-image: contain;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

img{
    background-image: contain;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.7}
  to {opacity: 1}
}