<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Home-page-style.css" />

    <title>Good Stock</title>
</head>
<body>
    <header>
        <nav>
          <a class="logo" href="#">Good Stock</a>
          <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li><a href="#">Sobre nós</a></li>
            <li><a id="New-Cont" href="#">Criar Conta</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav>
      </header>
      <main></main>
      <script src="../assets/scripts/mobile-navbar.js"></script>

</body>
</html>