<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/home-page-style.css" />
  <link rel="icon" type="image/png" href="../assets/images/box.png" />

  <title>Good Stock</title>
</head>

<body>
  <header>
    <nav>
      <a class="logo" href="#Slides-Images">Good Stock</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a class="hvr-underline-from-left" href="#about-us">Sobre nós</a></li>
        <li><a id="New-Cont" href="#"><span></span>Criar Conta</a></li>
        <li><a class="hvr-underline-from-left" href="#">Login</a></li>
        <li><a class="hvr-underline-from-left" href="./contact-us.html">Contato</a></li>
      </ul>
    </nav>
  </header>
  <!-- Slide Images from apresention -->
  <main id="slides-images">

    <div class="mySlides fade">
      <img src="../assets/images/purchasesmall-business-owner-online-market-delivery-lifestyle-freelance-concept.png" style="width: 100%;" alt="Imagem 1">
    </div>

    <div class="mySlides fade">
      <img src="../assets/images/stock-computer-work-home-office-small-business.png" style="width: 100%" alt="Imagem 2">
    </div>

    <div class="mySlides fade">
      <img src="../assets/images/young-asia.jpg" style="width: 100%" alt="Imagem 3">
    </div>

    <div class="mySlides fade">
      <img src="../assets/images/young-asia-entrepreneur-businesswoman.png" style="width: 100%" alt="Imagem 4">
    </div>

    <div class="mySlides fade">
      <img src="../assets/images/young-asia-market-delivery-lifestyle-freelance-concept.png" style="width: 100%" alt="Imagem 5">
    </div>
  
   <h2>Hello Hello</h2>

  </main>
  

  <!-- Scripsts -->
  <script src="../assets/scripts/slide-show.js"></script>
  <script src="../assets/scripts/mobile-navbar.js"></script>
  <!-- Landing Page -->

  <div id="introducao">
    <h1>Introdução</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Scelerisque fames mus
      sollicitudin sagittis penatibus metus. Morbi fermentum placerat dis dui taciti imperdiet conubia. In odio aenean
      ad ad ornare lacinia, varius rhoncus? Ridiculus ridiculus etiam auctor sapien phasellus. Curae dis tristique diam
      gravida ornare risus pharetra. Ut iaculis quam etiam egestas vivamus mus maximus. Ultricies imperdiet quam mattis
      tellus mattis aenean eros bibendum. Ad vel litora magna quisque vehicula rhoncus integer consequat iaculis. Amet
      commodo aenean sollicitudin, lacinia sociosqu vitae himenaeos.</p>
    <img src="../assets/images/processo.png">
  </div>


  <div id="tutorial">
    <h1>tutorial</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Scelerisque fames mus
      sollicitudin sagittis penatibus metus. Morbi fermentum placerat dis dui taciti imperdiet conubia. In odio aenean
      ad ad ornare lacinia, varius rhoncus? Ridiculus ridiculus etiam auctor sapien phasellus. Curae dis tristique diam
      gravida ornare risus pharetra. Ut iaculis quam etiam egestas vivamus mus maximus. Ultricies imperdiet quam mattis
      tellus mattis aenean eros bibendum. Ad vel litora magna quisque vehicula rhoncus integer consequat iaculis. Amet
      commodo aenean sollicitudin, lacinia sociosqu vitae himenaeos.</p>
    <img src="../assets/images/companhia.png">
  </div>

  <div id="good">
    <h1>Comparação e vantagens</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Scelerisque fames mus
      sollicitudin sagittis penatibus metus. Morbi fermentum placerat dis dui taciti imperdiet conubia. In odio aenean
      ad ad ornare lacinia, varius rhoncus? Ridiculus ridiculus etiam auctor sapien phasellus. Curae dis tristique diam
      gravida ornare risus pharetra. Ut iaculis quam etiam egestas vivamus mus maximus. Ultricies imperdiet quam mattis
      tellus mattis aenean eros bibendum. Ad vel litora magna quisque vehicula rhoncus integer consequat iaculis. Amet
      commodo aenean sollicitudin, lacinia sociosqu vitae himenaeos.</p>
    <img src="../assets/images/estoque.png">
  </div>

  <div id="about-us">
    <h1>Sobre nós</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Scelerisque fames mus
      sollicitudin sagittis penatibus metus. Morbi fermentum placerat dis dui taciti imperdiet conubia. In odio aenean
      ad ad ornare lacinia, varius rhoncus? Ridiculus ridiculus etiam auctor sapien phasellus. Curae dis tristique diam
      gravida ornare risus pharetra. Ut iaculis quam etiam egestas vivamus mus maximus. Ultricies imperdiet quam mattis
      tellus mattis aenean eros bibendum. Ad vel litora magna quisque vehicula rhoncus integer consequat iaculis. Amet
      commodo aenean sollicitudin, lacinia sociosqu vitae himenaeos.</p>
    <img src="../assets/images/box.png">
  </div>


  <footer>
        <span>© 2022 Todos os direitos Good Stock</span>
  </footer>
</body>

</html>