<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/workstation-style.css" />
    <link rel="icon" type="image/png" href="../assets/images/box.png" />
    <title>WorkStation</title>
</head>

<body>
    <main>
    <h1>Hello Word</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim iaculis lorem, vel ultrices orci
        ultrices lobortis. Nullam a erat justo. Quisque vehicula nunc et mi maximus porttitor. Cras massa enim, pulvinar
        id pharetra in, condimentum non massa. Praesent porttitor tellus ac hendrerit tempus. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Donec sit amet faucibus nisl. Mauris eu orci sed leo finibus vulputate auctor
        ut leo. Cras ullamcorper varius sodales.</p>
        <textarea>aaaa</textarea>
    <button>Click me</button>    
        </main>

    </body>

</html>