<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/layout/home-page-style.css" />
  <link rel="stylesheet" href="/assets/css/base/normalize.css" />
  <link rel="stylesheet" href="/assets/css/module/module-styles.css" />
  <link rel="icon" type="image/png" href="/assets/images/box.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

  <title>Good Stock</title>
</head>

<body>
  <header>
    <!-- Navbar -->
    <nav id="nav">
      <a class="nav__logo"><i class="fas fa-boxes fa-lg"></i>Good Stock</a>
      <div class="nav__mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav__list">
        <li><a class="--text" href="#about-us">Sobre nós</a></li>
        <li><a class="nav__new-cont" href="/register"><span class="nav__new-cont-span">Criar Conta</span></a></li>
        <li><a class="--text" href="/login">Login</a></li>
        <li><a class="--text" href="/contact-us">Contato</a></li>
      </ul>
    </nav>
    <div id="progress"></div>
  </header>
  <!-- Main Elements -->
  <main class="css-selector">
    
    <!-- <div class="wrapper"><span class="loader"><span class="loader-inner"></span></span></div> -->
  </main>
  <!-- Landing Page -->

  <section>
    <div class="container reveal --bg-intro" id="section__intro">
      <div class="intro__card-intro">
        <h1>Gerenciamento de Estoque para pequenos comércios</h1>
        <p>O projeto vindo de uma deficiência organizacional de pequenos negócios não informatizados, vem como uma
          proposta de praticidade e segurança para os dados dos SKU's(Stock Keeping Unit) do
          estoque de um pequeno
          comerciante vindo como uma alternativa que necessita de pouco conhecimento de informática para ser bem
          aproveitada.
        </p>
      </div>
  </section>

  <section id="section__object">
    <div class="container reveal">
      <h1>Objetivos</h1>
      <div class="tutorial__cards">
      <div class="card-info">
        <figure><img src="/assets/images/box-safety.jpg" alt="Imagem1" class="--photo" /></figure>
        <p>Aumentar consideravelmente a acertividade de decisões relacionadas aos produtos do estoque.</p>
      </div>
      <div class="card-info">
        <figure><img src="/assets/images/security.jpg" alt="Imagem2" class="--photo" /></figure>
        <p>Fornecer segurança e portabilidade dos dados pertinentes ao produto de software.</p>
      </div>
      <div class="card-info">
        <figure><img src="/assets/images/excel-panel.jpg" alt="imagem3" class="--photo" /></figure>
        <p>Facilitar a transição de outros modelos de organização digitais e físicos para a solução de software.</p>
      </div>
    </div>
  </section>


  <section id="section__video">
    <div class="container reveal --bg-video">
      <h1>Tutorial de Usabilidade</h1>
      <video class="justify-center" width="750" height="550" poster="/assets/images/poster.jpg" controls>
        <source src="/assets/videos/X2Download.app-Space Cats — Magic Fly.mp4"  type="video/mp4">
        Your browser does not support the video tag.
      </video>
     </div> 
  </section>

  <section id="section__about-us">
    <div class="container reveal">
      <h1>Sobre nós</h1><br>
      <div class="about-us__display">
        <figure class="snip1336 hover">
          <img src="/assets/images/Valhallan Nebula.gif" alt="sample87" />
          <figcaption>
            <img src="/assets/images/Tumblr.png" alt="profile-sample4" class="profile" />
            <h2>Gustavo Saiki<span>API</span></h2>
            <p>Oba, eu sou o Saiki, Web developer e responsável por toda a estrutura de microserviços 
              e segurança presentes na aplicação :D</p>
              <br>
            <a href="https://linkedin.com/in/GSaiki" target="_blank" class="follow">Linkedin</a>
            <a href="https://github.com/GSaiki26" target="_blank" class="info">Git Hub</a>
          </figcaption>
        </figure>
        <figure class="snip1336 hover">
          <img src="/assets/images/Rhade-Zapan.gif" alt="sample74" />
          <figcaption>
            <img src="/assets/images/gatinho-preto.jpg" alt="profile-sample2" class="profile" />
            <h2>André Sousa<span>Front End</span></h2>
            <p>"A verdade é sempre um contato interior inexplicável. A verdade é irreconhecível. Portanto não existe? Não, para os homens não existe.”
              - Clarice Lispector.
            </p>
            <a href="https://www.instagram.com/andresss2004" target="_blank" class="follow">instagram</a>
            <a href="https://github.com/ApenasUmBaka" target="_blank" class="info">Git Hub</a>
          </figcaption>
        </figure>
        <figure class="snip1336 hover">
          <img src="/assets/images/NEOMECHANICA.gif" alt="sample69" />
          <figcaption>
            <img src="/assets/images/gato-de-óculos.jpg" alt="profile-sample5" class="profile" />
            <h2>Eduardo Silva<span>Back End</span></h2>
            <p>"Aquele que ri ao invés de se zangar. É sempre o mais forte." -Provérbio Japonês.
              "Desafie seu limites".
            </p>
            <a href="#" target="_blank" class="follow">Linkedin</a>
            <a href="https://github.com/Eduardo711-a" target="_blank" class="info">Git Hub</a>
          </figcaption>
        </figure>
      </div>
  </section>

  <button id="btn-top" class="--btn-top --btn-top__hover"><i class="fas fa-solid fa-arrow-up fa-lg"></i></button>
  <!-- Footer -->
  <footer>
    <ul class="icons">
      <li><a href="#"><i class="fab fa-brands fa-twitter fa-lg"></i></a></li>
      <li><a href="#"><i class="fab fa-brands fa-whatsapp fa-lg"></i></a></li>
      <li><a href="#"><i class="fab fa-brands fa-linkedin-in fa-lg"></i></a></li>
      <li><a href="#"><i class="fab fa-brands fa-instagram fa-lg"></i></a></li>
  </ul>
  <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Specialties</a></li>
          <li><a href="#">Contato</a></li>
  </ul>
      <div class="footer-copyright">
          <p>Copyright @ 2022 Todos os direitos Good Stock.</p>
      </div>
  </footer>

  <!-- Scripsts -->
  <script src="/assets/scripts/loader.js"></script>
  <script src="/assets/scripts/backTotop.js"></script>
  <script src="/assets/scripts/reveal.js"></script>
  <script src="/assets/scripts/mobile-navbar.js"></script>
  <script src="/assets/scripts/progressBar.js"></script>
  
</body>

</html>