<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/layout/home-page-style.css" />
  <link rel="stylesheet" href="/assets/css/base/normalize.css" />
  <link rel="stylesheet" href="/assets/css/module/module-styles.css" />
  <link rel="icon" type="image/png" href="/assets/images/box.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

  <title>Good Stock</title>
</head>

<body>
  <header>
    <!-- Navbar -->
    <nav id="nav">
      <a class="nav__logo"><i class="fas fa-boxes fa-lg"></i>Good Stock</a>
      <div class="nav__mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav__list">
        <li><a class="--text" href="#about-us">Sobre nós</a></li>
        <li><a class="nav__new-cont" href="/register"><span class="nav__new-cont-span">Criar Conta</span></a></li>
        <li><a class="--text" href="/login">Login</a></li>
        <li><a class="--text" href="/contact-us">Contato</a></li>
      </ul>
    </nav>
    <div id="progress"></div>
  </header>
  <!-- Main Elements -->
  <main class="css-selector">
        <!-- <div class="main-slider">
          <div class="main-slide__img">
            <img src="../assets/images/10897.jpg" alt="Imagem1">
            <img src="../assets/images/19199544.jpg" alt="Imagem2">
            <img src="../assets/images/4334841.jpg" alt="imagem3">
            <img src="../assets/images/Sandy_Bus-36_Single-01.jpg" alt="iamgem4">
            <img src="../assets/images/box-safety.jpg" alt="imagem5">
          </div>
        </div>     -->
        <h1 class="main-goodstock">Good Stock</h1>

        <!-- <h1 class="main-text">
          <span>always be</span>
          <div class="message">
            <div class="word1">close</div>
            <div class="word2">code</div>
            <div class="word3">creating</div>
          </div>
        </h1> -->
    <!-- <div class="wrapper"><span class="loader"><span class="loader-inner"></span></span></div> -->
  </main>
  <!-- Landing Page -->

  <section>
    <div class="container reveal" id="introducao">
      <div class="intro__card-intro">
        <h1>Gerenciamento de Estoque para pequenos comércios</h1>
        <p>O projeto vindo de uma deficiência organizacional de pequenos negócios não informatizados, vem como uma
          proposta de praticidade e segurança para os dados dos SKU's(Stock Keeping Unit) do
          estoque de um pequeno
          comerciante vindo como uma alternativa que necessita de pouco conhecimento de informática para ser bem
          aproveitada.
        </p>
      </div>
  </section>

  <section id="tutorial">
    <div class="container reveal">
      <h1>Objetivos</h1>
      <div class="tutorial__cards">
      <div class="card-info">
        <img src="/assets/images/box-safety.jpg" alt="Imagem1" class="photo" />
        <p>Aumentar consideravelmente a acertividade de decisões relacionadas aos produtos do estoque.</p>
      </div>
      <div class="card-info">
        <img src="/assets/images/security.jpg" alt="Imagem2" class="photo" />
        <p>Fornecer segurança e portabilidade dos dados pertinentes ao produto de software.</p>
      </div>
      <div class="card-info">
        <img src="/assets/images/excel-panel.jpg" alt="imagem3" class="photo" />
        <p>Facilitar a transição de outros modelos de organização digitais e físicos para a solução de software.</p>
      </div>
    </div>
  </section>


  <section id="good">
    <div class="container reveal">
      <h1>Tutorial de Usabilidade</h1><br>
      <video class="justify-center" width="600" height="400" poster="/assets/images/poster.jpg" controls>
        <source src="/assets/videos/X2Download.app-Space Cats — Magic Fly.mp4"  type="video/mp4">
        Your browser does not support the video tag.
      </video>
  </section>

  <section id="about-us">
    <div class="container reveal">
      <h1>Sobre nós</h1><br>
      <div class="about-us__display">
        <figure class="snip1336 hover">
          <img src="/assets/images/Valhallan Nebula.gif" alt="sample87" />
          <figcaption>
            <img src="/assets/images/Tumblr.png" alt="profile-sample4" class="profile" />
            <h2>Gustavo Saiki<span>API</span></h2>
            <p>Oba, eu sou o Saiki, Web developer e responsável por toda a estrutura de microserviços 
              e segurança presentes na aplicação :D</p>
              <br>
            <a href="Linkedin.com/in/GSaiki" target="_blank" class="follow">Linkedin</a>
            <a href="https://github.com/GSaiki26" target="_blank" class="info">Git Hub</a>
          </figcaption>
        </figure>
        <figure class="snip1336 hover">
          <img src="/assets/images/Rhade-Zapan.gif" alt="sample74" />
          <figcaption>
            <img src="/assets/images/gatinho-preto.jpg" alt="profile-sample2" class="profile" />
            <h2>André Sousa<span>Front End</span></h2>
            <p>O Homem empunha a espada para esconder a pequena ferida que há em seu coração, gravada em um passado
              remoto e esquecido no fundo de sua memória.-Berserker.
            </p>
            <a href="https://www.instagram.com/andresss2004" target="_blank" class="follow">instagram</a>
            <a href="https://github.com/ApenasUmBaka" target="_blank" class="info">Git Hub</a>
          </figcaption>
        </figure>
        <figure class="snip1336 hover">
          <img src="/assets/images/NEOMECHANICA.gif" alt="sample69" />
          <figcaption>
            <img src="/assets/images/gato-de-óculos.jpg" alt="profile-sample5" class="profile" />
            <h2>Eduardo Silva<span>Back End</span></h2>
            <p>"Aquele que ri ao invés de se zangar. É sempre o mais forte." -Provérbio Japonês.
              "Desafie seu limites".
            </p>
            <a href="#" target="_blank" class="follow">Follow</a>
            <a href="https://github.com/Eduardo711-a" target="_blank" class="info">Git Hub</a>
          </figcaption>
        </figure>
      </div>
  </section>

  <button id="btn-top" class="--btn-top --btn-top__hover"><i class="fas fa-solid fa-arrow-up fa-lg"></i></button>
  <!-- Footer -->
  <footer>
    <span>© 2022 Todos os direitos Good Stock</span>
  </footer>

  <!-- Scripsts -->
  <script src="/assets/scripts/loader.js"></script>
  <script src="/assets/scripts/backTotop.js"></script>
  <script src="/assets/scripts/reveal.js"></script>
  <script src="/assets/scripts/mobile-navbar.js"></script>
  <script src="/assets/scripts/progressBar.js"></script>
  <!-- Loader -->
  
</body>

</html>