<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/layout/home-page-style.css" />
  <link rel="stylesheet" href="../assets/css/base/normalize.css">
  <link rel="icon" type="image/png" href="../assets/images/box.png" />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>

  <title>Good Stock</title>
</head>

<body>
  <header>
    <nav id="top">
      <a class="logo" href="#Slides-Images"><i class="fas fa-boxes"></i>Good Stock</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a class="hvr-underline-from-left" href="#about-us">Sobre nós</a></li>
        <li><a id="New-Cont" href="./cad-login.html"><span id="New-Cont" >Criar Conta</span></a></li>
        <li><a class="hvr-underline-from-left" href="./cad-login.html">Login</a></li>
        <li><a class="hvr-underline-from-left" href="./contact-us.html">Contato</a></li>
      </ul>
    </nav>
  </header>
  <!-- Slide Images from apresention -->
  <main class="css-selector">

  </main>


  <!-- Scripsts -->
  <script src="../assets/scripts/slide-show.js"></script>
  <script src="../assets/scripts/reveal.js"></script>
  <script src="../assets/scripts/mobile-navbar.js"></script>
  <script src="../assets/scripts/expanding-cards-script.js"></script>
  <!-- Landing Page -->

  <section>
    <div class="container reveal" id="introducao">
      <div class="card--intro">
        <h1>Introdução</h1>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Scelerisque fames mus
          sollicitudin sagittis penatibus metus. Morbi fermentum placerat dis dui taciti imperdiet conubia. In odio
          aenean
          ad ad ornare lacinia, varius rhoncus? Ridiculus ridiculus etiam auctor sapien phasellus. Curae dis tristique
          diam
          gravida ornare risus pharetra. Ut iaculis quam etiam egestas vivamus mus maximus. Ultricies imperdiet quam
          mattis
          tellus mattis aenean eros bibendum. Ad vel litora magna quisque vehicula rhoncus integer consequat iaculis.
          Amet
          commodo aenean sollicitudin, lacinia sociosqu vitae himenaeos.</p>
      </div>
      <br>
      <figure class="snip0056 yellow">
        <figcaption>
          <h2>Trabalho de conclusão de curso <span>TCC</span></h2>
          <p>I suppose if we couldn't laugh at things that don't make sense, we couldn't react to a lot of life.</p>
          <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
        </figcaption><img src="../assets/images/image-school.png" alt="sample8" />
        <div class="position">ETEC Dr. Celso Giglio</div>
      </figure>
      <br>
      <figure class="snip0056 red">
        <figcaption>
          <h2>Diana <span>Reed</span></h2>
          <p>The only skills I have patience to learn are those that have no real application in life.</p>
          <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
        </figcaption><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample9.jpg" alt="sample9" />
        <div class="position">Sales Manager</div>
      </figure>
    </div>
  </section>

  <section id="tutorial">
    <div class="container reveal">
      <h1>tutorial</h1><br>
      <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Scelerisque fames mus
        sollicitudin sagittis penatibus metus. Morbi fermentum placerat dis dui taciti imperdiet conubia. In odio aenean
        ad ad ornare lacinia, varius rhoncus? Ridiculus ridiculus etiam auctor sapien phasellus. Curae dis tristique
        diam
        gravida ornare risus pharetra. Ut iaculis quam etiam egestas vivamus mus maximus. Ultricies imperdiet quam
        mattis
        tellus mattis aenean eros bibendum. Ad vel litora magna quisque vehicula rhoncus integer consequat iaculis. Amet
        commodo aenean sollicitudin, lacinia sociosqu vitae himenaeos.</p>
    </div>
  </section>


  <section id="good">
    <div class="container reveal">
      <h1>Comparação e vantagens</h1><br>
      <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Scelerisque fames mus
        sollicitudin sagittis penatibus metus. Morbi fermentum placerat dis dui taciti imperdiet conubia. In odio aenean
        ad ad ornare lacinia, varius rhoncus? Ridiculus ridiculus etiam auctor sapien phasellus. Curae dis tristique
        diam
        gravida ornare risus pharetra. Ut iaculis quam etiam egestas vivamus mus maximus. Ultricies imperdiet quam
        mattis
        tellus mattis aenean eros bibendum. Ad vel litora magna quisque vehicula rhoncus integer consequat iaculis. Amet
        commodo aenean sollicitudin, lacinia sociosqu vitae himenaeos.</p>
    </div>
  </section>

  <section id="about-us">
    <div class="container reveal">
      <h1>Sobre nós</h1><br>
      <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Scelerisque fames mus
        sollicitudin sagittis penatibus metus. Morbi fermentum placerat dis dui taciti imperdiet conubia. In odio aenean
        ad ad ornare lacinia, varius rhoncus? Ridiculus ridiculus etiam auctor sapien phasellus. Curae dis tristique
        diam
        gravida ornare risus pharetra. Ut iaculis quam etiam egestas vivamus mus maximus. Ultricies imperdiet quam
        mattis
        tellus mattis aenean eros bibendum. Ad vel litora magna quisque vehicula rhoncus integer consequat iaculis. Amet
        commodo aenean sollicitudin, lacinia sociosqu vitae himenaeos.</p>
      <img src="../assets/images/box.png">
    </div>
  </section>

  <button id="btn-top" class="hvr-sweep-to-top"><a href="#top">Ir para o topo</a></button>

  <footer>
    <span>© 2022 Todos os direitos Good Stock</span>
  </footer>
</body>

</html>