<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/layout/notfound-page.css" />
    <link rel="stylesheet" href="/assets/css/base/normalize.css" />
    <link rel="icon" type="image/png" href="/assets/images/box.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <title>Página não encontrada</title>
</head>

<body>
    <div class="notfound" id="not-found">
        <a class="notfound__logo --position" href="/index.html"><i class="fas fa-boxes fa-1x"></i>Good Stock</a>
        <br>
        <i class="fas fa-wrench fa-7x"></i>
        <br>
        <h1>Página Não Encontrada!</h1>
        <br>
        <h2>Erro 404</h2>
        <p>A página que você está procurando pode ter sido removida ou renomeada, ou o link que você seguiu está
            incorreto.</p>
    </div>
</body>

</html>