<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/assets/css/layout/work-station-style.css">
    <link rel="stylesheet" href="/assets/css/base/normalize.css">
    <!----===== Custom CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'><!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/assets/images/box.png" />

    <title>WorkStation</title>
</head>

<body>
    <nav id="sidebar" class="sidebar close">
        <header>
            <div class="sidebar__image-text">
                <span class="sidebar__image">
                    <img src="/assets/images/Tumblr.png" alt="gatito">
                </span>

                <div class="--text logo-text">
                    <span class="sidebar__name">
                        <%= user.name %>
                    </span>
                    <span class="sidebar__profession">
                        <%= user.organizationName %>[<%= user.organizationId %>]
                    </span>
                </div>
            </div>

            <i id="toggle-button" class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="sidebar__menu-bar">
            <div class="menu">

                <li id="sidebar-searchBox" class="sidebar__search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Pesquisar...">
                </li>

                <ul class="sidebar__menu-links">
                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-dashboard">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="--text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-stock">
                            <i class='bx bx-package icon'></i>
                            <span class="--text nav-text">Stock</span>
                        </a>
                    </li>

                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-members">
                            <i class='bx bx-group icon'></i>
                            <span class="--text nav-text">Members</span>
                        </a>
                    </li>

                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-settings">
                            <i class='bx bx-cog icon'></i>
                            <span class="--text nav-text">Settings</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="sidebar__bottom-content">
                <li class="">
                    <a id="logout-button">
                        <i class='bx bx-log-out icon'></i>
                        <span class="--text nav-text">Logout</span>
                    </a>
                </li>

                <li class="sidebar__mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span id="sidebar-toggle-theme-text" class="mode-text --text">Dark mode</span>

                    <div id="sidebar-toggle-theme-switch" class="sidebar__toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>
    <!-- Dashboard Home -->
    <section class="section-visible" id="section-dashboard">
        <div class="--text">Dashboard Sidebar</div>
        
        <div id="circularMenu" class="circular-menu">

            <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
                <i class='bx bx-plus'></i>
            </a>

            <menu class="items-wrapper">
              <a href="#" class="menu-item"><i class='bx bxs-detail'></i></a>
              <a href="#" class="menu-item"><i class='bx bx-select-multiple' ></i></a>
              <a href="#" class="menu-item"><i class='bx bx-edit'></i></a>
              <a href="#" class="menu-item"><i class='bx bx-comment-x'></i></a>
            </menu>
          
          </div>
    </section>
    <!-- Stock Home -->
    <section id="section-stock" class="--wrapper --padding --margin hidden">
        
        <main class="row title">
            <ul>

            </ul>
        </main>

        <table id="table-products" class="table table-striped">
            <tr id="table-products-headers">
                <th>ID</th>
                <th>Quantidade</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Data</th>
            </tr>
            <!-- <tr class="product-entry">
                <td class="entry-info">Name</td>
                <td class="entry-info">Price</td>
                <td class="entry-info">Amount</td>
                <td class="entry-info">Date</td>
                <div class="entry-detail">
                    <span class="entry-detail-name">name</span>
                    <span class="entry-detail-value">value</span>
                </div>
            </tr> -->
        </table>

        <!-- <div id="div-products-list">
            <article class="row nfl">
                <ul>
                    <li><a href="#"><span class="product-name --pad">product.name</span></a></li>
                    <li><span class="product-price --pad">product.price</span></li>
                    <li><span class="product-amount --pad">product.amount</span></li>
                    <li><span class="product-date --pad">product.date</span>/li>
                    <li></li>
                </ul>
                <ul class="more-content">
                    <li><span class="product-description">product.descripition</span></li>
                </ul>
            </article>
        </div> -->
        <!-- Circular Menu -->

        <div id="circularMenu" class="circular-menu">

            <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
                <i class='bx bx-plus'></i>
            </a>

            <menu class="items-wrapper">
              <a href="#" class="menu-item"><i class='bx bx-add-to-queue'></i></a>
              <a href="#" class="menu-item"><i class='bx bx-select-multiple' ></i></a>
              <a href="#" class="menu-item"><i class='bx bx-edit'></i></a>
              <a href="#" class="menu-item"><i class='bx bx-comment-x'></i></a>
            </menu>
          
          </div>
          <!-- Modal -->
          <div id="organization-modal-bg" class="modal-background"></div>
            <div id="organization-modal" class="modal modal-closed">

                <form id="porductAddItem" method="post" >
                  
                <div class="org-modal1">    
                <div class="label-float">
                    <input type="text"  name="name" id="nameItem" placeholder=" " required>
                    <label id="nameItemLabel" for="nameItem">Nome</label>
                </div>

                <div class="label-float">
                    <input type="number" name="price" id="priceItem" placeholder=" " required>
                    <label id="priceItemLabel" for="priceItem">Preço</label>
                </div>

                </div><br>

                <div class="org-modal2">

                <div class="label-float">
                    <input type="number" name="amount" id="amountItem" placeholder=" " required>
                    <label id="amountItemLabel" for="amountItem">Quantidade</label>
                </div>

                <div class="label-float">
                    <input type="date" name="date" id="dateItem" placeholder=" " required>
                    <label id="dateItemLabel" for="dateItem">Data de Entrada</label>
                </div>

                </div><br>

                <div class="label-float --description">
                    <textarea rows="6" placeholder="Sua Descrição do Item" id="description" name="descriptionItem"></textarea>
                    <label id="descriptionItemLabel" for="descriptionItem">Descrição</label> 
                </div> 
                <br>
                
                <div class="org-modal3">
                <button class="--end">Cancelar</button>
                <input class="--end" type="submit" id="addItemTable"
                    name="addItemTable" value="Adicionar">
                </div>
                </form>
            </div>
       
    </section>
    <!-- members Home -->
    <section id="section-members" class="hidden">
        <table id="table-members" class="table table-striped">
            <tr id="table-members-headers">
                <th>ID</th>
                <th>Nome</th>
                <th>Status</th>
            </tr>
        </table>
    </section>
    <!-- Settings Home -->
    <section id="section-settings" class="hidden">
    </section>
    <!-- Scripts -->
    <script src="/assets/scripts/workspace/utils.js"></script>
    <!-- Scripts Products -->
    <script src="/assets/scripts/workspace/productsModel.js"></script>
    <script src="/assets/scripts/workspace/productsController.js"></script>

    <!-- Scripts Members -->
    <script src="/assets/scripts/workspace/membersModel.js"></script>
    <script src="/assets/scripts/workspace/membersController.js"></script>

    <!-- Dependencies -->
    <script src="/assets/scripts/workspace/eventsDefinition.js"></script>    
</body>

</html>