<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/assets/css/layout/work-station-style.css">
    <link rel="stylesheet" href="/assets/css/base/normalize.css">
    <!----===== Custom CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" href="/assets/images/box.png" />

    <title>WorkStation</title>
</head>

<body>
    <nav id="sidebar" class="sidebar close">
        <header>
            <div class="sidebar__image-text">
                <span class="sidebar__image">
                    <img src="/assets/images/Tumblr.png" alt="gatito">
                </span>

                <div class="--text logo-text">
                    <span class="sidebar__name"><%= user.name %></span>
                    <span class="sidebar__profession">Usuário</span>
                </div>
            </div>

            <i id="toggle-button" class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="sidebar__menu-bar">
            <div class="menu">

                <li id="sidebar-searchBox" class="sidebar__search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Pesquisar...">
                </li>

                <ul class="sidebar__menu-links">
                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-dashboard">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="--text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-statics">
                            <i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="--text nav-text">Statics</span>
                        </a>
                    </li>

                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-stock">
                            <i class='bx bx-package icon'></i>
                            <span class="--text nav-text">Stock</span>
                        </a>
                    </li>

                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-analytics">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="--text nav-text">Analytics</span>
                        </a>
                    </li>

                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-teams">
                            <i class='bx bx-group icon'></i>
                            <span class="--text nav-text">Teams</span>
                        </a>
                    </li>

                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-settings">
                            <i class='bx bx-cog icon'></i>
                            <span class="--text nav-text">Settings</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="sidebar__bottom-content">
                <li class="">
                    <a id="logout-button">
                        <i class='bx bx-log-out icon'></i>
                        <span class="--text nav-text">Logout</span>
                    </a>
                </li>

                <li class="sidebar__mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span id="sidebar-toggle-theme-text" class="mode-text --text">Dark mode</span>

                    <div id="sidebar-toggle-theme-switch" class="sidebar__toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>
    <!-- Dashboard Home -->
    <section class="section-visible" id="section-dashboard">
        <div class="--text">Dashboard Sidebar</div>
            <h1 class="--text">Hello Word</h1>
                <p class="home__text-p --padding">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                dignissim iaculis lorem, vel ultrices orci ultrices lobortis. Nullam a
                erat justo. Quisque vehicula nunc et mi maximus porttitor. Cras massa
                enim, pulvinar id pharetra in, condimentum non massa. Praesent
                porttitor tellus ac hendrerit tempus. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Donec sit amet faucibus nisl. Mauris eu
                orci sed leo finibus vulputate auctor ut leo. Cras ullamcorper varius
                sodales.
                </p>
            <textarea class="--padding --margin">aaaa</textarea> <br>
        <button class="--padding --margin"><a href="/index.ejs">Click me</a></button>
    </section>
    <!-- Statics Home  -->
    <section id="section-statics" style="display:none;">

    </section>
    <!-- Stock Home -->
    <section id="section-stock" style="display:none;">
        <div class="--text">Controle de estoque</div>
        <div id="div-products-list">
            <div class="div-products-header">
                <span class="span-products-header">Quantidade</span>
                <span class="span-products-header">Nome</span>
                <span class="span-products-header">Valor</span>
            </div>
        </div>
    </section>
    <!-- Analytics Home -->
    <section id="section-analytics" style="display:none;">

    </section>
    <!-- Teams Home -->
    <section id="section-teams" style="display:none;">

    </section>
    <!-- Settings Home -->
    <section id="section-settings" style="display:none;">

    </section>
    <!-- Profile Home -->
    <section id="section-profile" style="display:none;">

    </section>

    <!-- Scripts -->
    <script src="/assets/scripts/workspace/utils.js"></script>
    <script src="/assets/scripts/workspace/productsModel.js"></script>
    <script src="/assets/scripts/workspace/productsController.js"></script>

    <script src="/assets/scripts/workspace/eventsDefinition.js"></script>
</body>

</html>