<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>WorkStation</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/assets/css/layout/work-station-style.css">
    <link rel="stylesheet" href="/assets/css/base/normalize.css">
    <!----===== Custom CSS ===== -->

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'><!-- CSS only -->
    <link href="/assets/css/base/bootstrap.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/images/box.png" />
</head>

<body>
    <nav id="sidebar" class="sidebar close">
        <header>
            <div class="sidebar__image-text">
                <span class="sidebar__image">
                    <img src="/assets/images/Tumblr.png" alt="gatito">
                </span>

                <div class="--text logo-text">
                    <span class="sidebar__name">
                        <%= user.name %>
                    </span>
                    <span class="sidebar__profession">
                        <%= user.organizationName %>[<%= user.organizationId %>]
                    </span>
                </div>
            </div>

            <i id="toggle-button" class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="sidebar__menu-bar">
            <div class="menu">

                <li id="sidebar-searchBox" class="sidebar__search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Pesquisar...">
                </li>

                <ul class="sidebar__menu-links">
                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-dashboard">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="--text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-stock">
                            <i class='bx bx-package icon'></i>
                            <span class="--text nav-text">Stock</span>
                        </a>
                    </li>

                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-members">
                            <i class='bx bx-group icon'></i>
                            <span class="--text nav-text">Members</span>
                        </a>
                    </li>

                    <li class="sidebar__nav-link">
                        <a href="#" id="a-sidebar-settings">
                            <i class='bx bx-cog icon'></i>
                            <span class="--text nav-text">Settings</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="sidebar__bottom-content">
                <li class="">
                    <a id="logout-button">
                        <i class='bx bx-log-out icon'></i>
                        <span class="--text nav-text">Logout</span>
                    </a>
                </li>

                <li class="sidebar__mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span id="sidebar-toggle-theme-text" class="mode-text --text">Dark mode</span>

                    <div id="sidebar-toggle-theme-switch" class="sidebar__toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>
    <!-- Dashboard Home -->
    <section class="section-visible" id="section-dashboard">
        <div class="--text">Dashboard Sidebar</div>
    </section>

    <!-- Stock Home -->
    <section id="section-stock" class="hidden">
        
        <main class="row title">
            <ul>

            </ul>
        </main>

        <table id="table-products" class="table table-striped">
            <tr id="table-products-headers">
                <th>ID</th>
                <th>Quantidade</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Data</th>
            </tr>
        </table>

        <!-- Circular Menu -->
        <div id="circularMenu" class="circular-menu">

            <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
                <i class='bx bx-plus'></i>
            </a>

            <menu class="items-wrapper">
              <a id="a-menu-products-add" class="menu-item"><i class='bx bx-add-to-queue'></i></a>
              <!-- <a href="#" class="menu-item"><i class='bx bx-select-multiple'></i></a> -->
              <a class="menu-item"><i class='bx bx-edit'></i></a>
              <!-- <a href="#" class="menu-item"><i class='bx bx-comment-x'></i></a> -->
            </menu>
          
          </div>

        <!-- Modal -->
        <div id="products-modal-bg" class="modal-background"></div>
            <div id="products-modal" class="modal modal-closed">
                <form id="form-products-modal" method="post">
                    <h2 id="h2-products-modal">Criação de produtos</h2>
                    <input id="input-product-id" hidden>
                    <div class="org-modal1">    
                        <div class="label-float">
                            <input type="text"  name="name" id="input-product-name" placeholder=" " required>
                            <label id="input-product-name-label" for="input-product-name">Nome</label>
                        </div>

                        <div class="label-float">
                            <input type="number" name="price" id="input-product-price" placeholder=" " required>
                            <label id="input-product-price-label" for="input-product-price">Preço</label>
                        </div>

                    </div><br>

                    <div class="org-modal2">

                        <div class="label-float">
                            <input type="number" name="amount" id="input-product-amount" placeholder=" " required>
                            <label id="input-product-amountLabel" for="input-product-amount">Quantidade</label>
                        </div>

                    </div><br>

                    <h2>Detalhes</h2>
                    <div id="div-details" class="label-float --description">
                        <!-- Details 0 -->
                        <div class="details-field">
                            <input type="text" class="detail-field" placeholder="Chave"/>
                            <input type="text" class="detail-field" placeholder="Valor"/>
                        </div>

                        <!-- Details 1 -->
                        <div class="details-field">
                            <input type="text" class="detail-field" placeholder="Chave"/>
                            <input type="text" class="detail-field" placeholder="Valor"/>
                        </div>

                        <!-- Details 2 -->
                        <div class="details-field">
                            <input type="text" class="detail-field" placeholder="Chave"/>
                            <input type="text" class="detail-field" placeholder="Valor"/>
                        </div>
                    </div> 
                    <br>

                    <div class="org-modal3">
                        <button class="--end" onclick="ProductsModalController.closeModal()">
                            Cancelar
                        </button>
                        <button id="del-item-table" class="--end" onclick="ProductsController.delProduct.bind(ProductsController)();">
                            Deletar
                        </button>
                        <button id="add-item-table" class="--end" onclick="ProductsController.addProduct.bind(ProductsController)();">
                            Adicionar
                        </button>
                        <button id="edit-item-table" class="--end hidden" onclick="ProductsController.editProduct.bind(ProductsController)();">
                            Editar
                        </button>
                    </div>
                </form>
            </div>
    </section>

    <!-- members Home -->
    <section id="section-members" class="hidden">
        <table id="table-members" class="table table-striped">
            <tr id="table-members-headers">
                <th>ID</th>
                <th>Nome</th>
                <th>Status</th>
            </tr>
        </table>
    </section>

    <!-- Settings Home -->
    <section id="section-settings" class="hidden"></section>
    <!-- Scripts -->
    <!-- Scripts Products -->
    <script src="/assets/scripts/workspace/productsModel.js"></script>
    <script src="/assets/scripts/workspace/productsController.js"></script>
    <script src="/assets/scripts/workspace/productsModalController.js"></script>

    <!-- Scripts Members -->
    <script src="/assets/scripts/workspace/membersModel.js"></script>
    <script src="/assets/scripts/workspace/membersController.js"></script>
    <!-- Dependencies -->
    <script src="/assets/scripts/workspace/utils.js"></script>
    <script src="/assets/scripts/workspace/eventsDefinition.js"></script>    
</body>

</html>