/* Libs */
@import url('../base/reset.css');
@import url('../base/global.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');

/* Tags */

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--one-color);
    height: 10vh;
    width: 100%;
    position: block;
    top: 0;
    z-index: 3;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

footer {
    background: var(--op-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

/* Underline From Left */
a.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

a.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--button-color);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a.hvr-underline-from-left:hover:before,
a.hvr-underline-from-left:focus:before,
a.hvr-underline-from-left:active:before {
    right: 0;
}

/* Button New sign */

a#New-Cont {
    position: relative;
    text-decoration: none;
    text-align: center;
    letter-spacing: 4px;
    padding-left: 5px;
    font-weight: 400;
}

a#New-Cont::before,
a#New-Cont::after,
span#New-Cont::before,
span#New-Cont::after {
    content: ' ';
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent;
    transition: 1s;
}

a#New-Cont::before {
    top: -2px;
    left: -2px;
    border-top: 2px solid var(--button2-color);
    border-left: 2px solid var(--button2-color);
}

a#New-Cont::after {
    top: -2px;
    right: -2px;
    border-top: 2px solid #DC4C5D;
    border-right: 2px solid #DC4C5D;
}

span#New-Cont::before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid #DC4C5D;
    border-left: 2px solid #DC4C5D;
}

span#New-Cont::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid #DC4C5Ded;
    border-right: 2px solid #DC4C5D;
}


a#New-Cont:hover::before,
a#New-Cont:hover::after,
a#New-Cont:hover span#New-Cont::before,
a#New-Cont:hover span#New-Cont::after {
    width: calc(180px / 2);
    height: calc(50px / 2);
}

p,
h1 {
    color: var(--h1-color);
    display: flex;
    justify-content: center;
    font-size: clamp(0.7em, 0.7em + 0.7vw, 1em);
    padding: 5px;
}

h1 {
    font-size: 20px;
    font-weight: 900;
}

/* @use postcss-preset-env {
    stage: 0;
    autoprefixer: { grid : true;}

    browsers: [
        "last 1 Chrome versions",
        "last 1 Firefox versions",
        "last 1 Safari versions",
        "last 1 Edge versions"
    ]
} */

/* Div with Id */
#tutorial {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    margin: 5px;
}

.card--intro p::first-letter{
    color: var(--button2-color);
    font-size: 2.5rem;
    font-weight: 600;
}

.card--intro{
    background-color: var(--bg-color);
    border:  solid 4px var(--primary-color);
    box-shadow: 
     15px 15px 0 -4px var(--two-color),
     15px 15px black ;
}


#introducao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
/* Card profile */
figure.snip0056 {
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 400px;
    max-width: 500px;
    width: 100%;
    background: #ffffff;
    color: #000000;
  }
  figure.snip0056 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip0056 > img {
    width: 50%;
    border-radius: 50%;
    border: 4px solid black;  
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    position: relative;
    float: right;
    right: -15%;
    z-index: 1;
  }
  figure.snip0056 figcaption {
    padding: 20px 30px 20px 20px;
    position: absolute;
    left: 0;
    width: 50%;
  }
  figure.snip0056 figcaption h2,
  figure.snip0056 figcaption p {
    margin: 0;
    text-align: left;
    padding: 10px 0;
    width: 100%;
  }
  figure.snip0056 figcaption h2 {
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  figure.snip0056 figcaption h2 span {
    font-weight: 800;

  }
  figure.snip0056 figcaption p {
    font-size: 0.9em;
    opacity: 0.9;
  }
  figure.snip0056 figcaption .icons {
    width: 100%;
    text-align: left;
  }
  figure.snip0056 figcaption .icons i {
    font-size: 26px;
    padding: 5px;
    top: 50%;
    color: #000000;
  }
  figure.snip0056 figcaption a {
    opacity: 0.3;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.snip0056 figcaption a:hover {
    opacity: 0.8;
  }
  figure.snip0056 .position {
    width: 100%;
    text-align: left;
    padding: 15px 30px;
    font-size: 0.9em;
    opacity: 1;
    font-style: italic;
    color: #ffffff;
    background: #000000;
    clear: both;
  }
  figure.snip0056.blue .position {
    background: #20638f;
  }
  figure.snip0056.red .position {
    background: var(--button2-color);
  }
  figure.snip0056.yellow .position {
    background: var(--two-color);
  }
  figure.snip0056:hover > img,
  figure.snip0056.hover > img {
    right: -12%;
  }

#good {
    display: flex;
    justify-content: center;
}

#about-us {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
}


/* Classes */
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none; 
}


.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--bg2-color);
    margin: 8px;
    transition: 0.3s;
    z-index: 2;
}


/* Utils */
@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--one-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .container{
        width: 100vw;
    }
    .panel:nth-child(4),
    .panel:nth-child(5) {
        display: none;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Expanging Cards */


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
} 

@keyframes fade {
    from {
        opacity: 0.7
    }

    to {
        opacity: 1
    }
}

/* Fade Reveal Section */

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}

section:nth-child(2n) {
    background-color: var(--bg-color);
}

button#btn-top{
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
	border: 2px solid #F2eee3;
	background-color: #F2eee3;
	color: var(--h1-color);
	font-size: 10px;
	font-weight: bold;
	padding: 6px 20px;
    margin: 20px;
	letter-spacing: 1px;
	transition: transform 80ms ease-in;
	border-color: var(--button-color);
}
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #2098D1;
    border-radius: 10px;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: white;
  }
  .hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  

.container {
    padding: 48px 96px;
}


.container h2 {
    font-size: 36px;
}

.reveal {
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* Loader */

/* Background Linear Gradient */
.css-selector{
    background-color: #fcc99e;
}
